{% extends 'photo/base.html' %}
{% block title %}View - Photo Manager{% endblock %}
{% block header %}<h1>View Photos</h1>{% endblock %}
{% block content %}
{{ wtf.quick_form(form) }}
<ul>
{% for photo in photos %}
<li>
<a href="{{ url_for('photos.single_view', photo_id=photo.id) }}">{{ photo.name }}</a>
</li>
{% endfor %}
</ul>
<h2>Folders</h2>
<ul>
{% for folder in folders %}
<li>
{{ folder.name }}
<a class="btn btn-danger" href="{{ url_for('folder.confirm_delete', folder_id=folder.id) }}">Delete</a>
</li>
{% endfor %}
</ul>
{% endblock %}