{% import 'bootstrap/wtf.html' as wtf %}
{% import 'bootstrap/utils.html' as utils %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>{% block title %}{% endblock %}</title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		{% block styles %}
			<link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
		{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-default">
			<ul class="nav navbar-nav mr-auto">
				<a class="navbar-brand" href="{{ url_for('home.index') }}">
					Photo Manager
				</a>
				{% block navbar_items %}
				{% endblock %}
			</ul>
		</nav>
		<main class="container">
			{% block header %}{% endblock %}
			{{ utils.flashed_messages() }}
			<div class="content">
				{% block content %}
				{% endblock %}
			</div>
		</main>
		{% block scripts %}
		<script src="{{ bootstrap_find_resource('jquery.js', cdn='jquery') }}"></script>
		<script src="{{ bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap') }}"></script>
		{% endblock %}
	</body>
</html>
