{% import 'bootstrap/wtf.html' as wtf %}
{% import 'bootstrap/utils.html' as utils %}
<html>
	<head>
		<title>Home</title>
		<link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
	</head>
	
	<body>
		<h1>Home</h1>
		
		{{ utils.flashed_messages() }}
	
		<nav style="text-align:center;"><b>
		<a href ="{{ url_for('home.index') }}">Home</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		<a href="{{ url_for('login.index') }}">Login</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		<a href="{{ url_for('register.index') }}">Register</a>
		</nav>
		
	</body>
</html>